.image{
    background-image: url("../assets/bgpic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.image:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}


.bback{
    position: relative;
}

.marg1{
    padding: 20px;
}

body{
    background-image: url("../assets/bgpic.jpg");
}

.cont1{
    padding: 40px;
}

.cont2{
    margin-top: 100px;
    padding: 80px;
}

.contser{
    padding: 60px;
}

.img1{
    width: 200px;
}